body{
    width: 100vw;
    height: 100vh;
}

.spacer-single{
    width:100%;
    height:30px;
    display:block;
    clear:both;
}

#testo_home_page{
    color: white;
}

#container_testo_home_page{
    position: absolute;
    margin-top: 300px;
    display: inline-block;
    width: 40vw;
    height: auto;
}

#scopri_lavori {
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
}

#person:hover{
    cursor: pointer;
}

#section-show-commenti{
    overflow-y: scroll;
    max-height: 600px;
}

.vertical_divider{
    border-left: 3px solid #000;
    height: auto;
    opacity: 0.2;
}


#btn_insert_commento:hover{
    cursor: pointer;
}

#alert{
    display: none;
}
#container_comment{
    word-wrap: break-word;
}
#form_comments{
    display: inherit;
}
#form_comments_after{
    display: none;
}

#btn_remove_commento:hover{
    cursor: pointer;
}

#btn_update_commento:hover{
    cursor: pointer;
}

#btn_my_page{
    display: none;
}

#alert_login{
    position: absolute;
}

#header{
    width: 2em;
    height: auto;
}


.icon{
    height: 2em;
    width: auto;
}

img{
    height: 1em;
    width: auto;
}

#video_player{
    width: 60vw;
    height: auto;
}