body {
    font-family: Verdana, sans-serif;
    text-align: center;
    height: auto;
}

.bg{
    background-color: #FAEBD7;
}

#w3c{
    margin: auto;
    width: auto;
    height: auto;
}

p {
    text-align: center;
}

#container_login_form{
    margin-top: 50px;
}
#container_register_form{
    display: none;
    margin-top: 50px;
}

#alert{
    display: none;
}
