.bg{
    background-color: #FAEBD7;
}
.vertical_divider{
    border-left: 3px solid #000;
    height: auto;
    opacity: 0.2;
}

#section_visualizza_lavori{
    margin: auto;
    width: 80%;
    min-width: 1500px;
    border-radius: 20px 20px 20px 20px;
    padding: 50px;
}

#section_modifica_lavori{
    display: none;
    width: auto;
}

#section_gestisci_utenti{
    display: none;
}

#notify{
    display: none;
}

#alert{
    display: none;
}

#row{
    word-wrap: break-word;
    display: inline-flex;
}
.navbar-nav .nav-link.active,
 .navbar-nav .nav-link:hover {
     font-style: italic;
}
