#w3c{
    margin: auto;
    width: auto;
    height: auto;
}

#section_inserisci_articoli{
    display: none;
}

#section_wish_list{
    display: none;
}

#section_visualizza_articoli{
    overflow-y: scroll;
}

.card{
    border-bottom: 0;
    width: 17rem;
}

.bg{
    background-color: #FAEBD7;
}

#btn_inserisci_articolo{
    display: none;
}

#btn_show_wish_list{
    vertical-align: middle;
}

#alert{
    display: none;
}

#container_alert{
    height: 50px;
}