
<body class="bg">

<header id="header">
    <div class="container-fluid">
        <div class="row fixed-top p-3 justify-content-center">
            <div class="col justify-content-center d-inline-flex">
                <nav class="navbar clear navbar-expand-sm bg-light my-2 navbar-light rounded-lg shadow-lg">
                    <a class="p-1" href="#content"><img class="mr-2" src="../img/icon.png" alt="logo" height="42" width="42"></a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a id="btn_azienda" class="nav-link" href="#section-about">L'azienda</a>
                        </li>
                        <li class="nav-item">
                            <a id="btn_servizi" class="nav-link" href="#section-servizi">Servizi</a>
                        </li>
                        <li class="nav-item">
                            <a id="btn_contatti" class="nav-link" href="#section-contact">Contatti</a>
                        </li>
                    </ul>
                    <div id="btn_my_page">
                        <a class="p-1" href="/super_user_page.php"><img alt="person_icon" class="ml-2 m-1" src="../img/person.png" width="42" height="42px"></a>
                    </div>
                </nav>
                <form action="../user/logout.php" method="post">
                    <button id="btn_logout" type="submit" value="log_out" class="btn btn-primary m-3">Logout</button>
                </form>
            </div>
        </div>
    </div>
</header>
<div id="container_testo_home_page" class="container-fluid">
    <div class="row">
        <div id="testo_home_page" class="col animated fadeInUpBig delay-1s">
            <h3> EDILIZIA E PROGETTAZIONE DI </h3>
            <h1 > ALTA QUALITA' </h1>
            <form action="../vetrina.php">
                <button id="scopri_lavori" class="my-2 btn btn-info delay-2s text-justify">SCOPRI I NOSTRI LAVORI</button>
            </form>
        </div>
    </div>
</div>

<div id="content" class="no-top no-bottom">

    <img src="../img/casa/casa.jpg" class="img-fluid"/>


    <section id="section-about">
        <div class="container-fluid w-75">
            <div class="row">
                <div class="col text-center p-5">
                    <h1>Impresa Edile Elycib</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="300">
                    <img class="img-fluid" src="../img/casa/casa5.jpg">
                    <hr>
                    <h3><strong>Realizzazioni Residenziali</strong></h3>
                    <p id="firstTxt" class="text-service">
                        ...
                    </p>
                </div>
                <div class="col-md-4" data-aos="fade-down" data-aos-duration="2000" data-aos-delay="300">
                    <img class="img-fluid" src="../img/casa/commerciale.jpg">
                    <hr>
                    <h3><strong>Costruzioni Commerciali</strong></h3>
                    <p id="secondTxt" class="text-service">
                        ...
                    </p>
                </div>
                <div class="col-md-4" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="300">
                    <img class="img-fluid" src="../img/casa/casa4.jpg">
                    <hr>
                    <h3><strong>Restauri su misura</strong></h3>
                    <p id="thirdTxt" class="text-service">
                        ...
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </section>

    <section id="section-servizi" class="my-5 p-5 m-3 rounded-lg shadow-lg text-center">
        <h1><strong>Uno sguardo ai nostri progetti</strong></h1>
        <hr>
        <div id="container_video" class="justify-content-center">
            <video id="video_player" src="" class="animated fadeInRight rounded-lg shadow-lg" autobuffer controls>
                Il tuo broswer non supporta i video.
            </video>

        </div>
        <hr>
    </section>

    <section id="section-contact" class="my-5 p-5 border m-3 rounded-lg shadow-lg text-center" data-aos="zoom-in-down" data-aos-delay="400" data-aos-duration="2000">
        <h1><strong>Contatti</strong></h1>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <a href="#content"><img class="img-fluid m-3" src="../img/icon.png" width="250px" height="250px"/></a>
                    <h2 class="col text-danger"> Elicyb </h2>
                    <p class="col text-service">
                        Una qualche scritta incoraggiante
                    </p>
                </div>
                <div class="col">
                    <div class="row">
                        <h2 class="col text-danger"> Email: </h2>
                        <p id="indirizzo_mail" class="col text-service">
                            ...
                        </p>
                    </div>
                    <hr>
                    <div class="row">
                        <h2 class="col text-danger"> Telefono: </h2>
                        <p id="numero_telefono" class="col text-service">
                            ...
                        </p>
                    </div>
                    <hr>
                    <div class="row">
                        <h2 class="col-sm text-danger"> Fax: </h2>
                        <p id="fax" class="col-sm text-service">
                            ...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <h2 class="col"> SEGUICI SU: </h2>
                <div class="col">
                    <a href="http://www.instagram.com/"class="col-sm"><img alt="instragram.icon" src="../img/instagram.png"/></a>
                    <a href="http://www.instagram.com/"class="col-sm"><img alt="facebook_icon" src="../img/facebook1.png"/></a>
                    <a href="http://www.twitter.com/"class="col-sm"><img src="../img/twitter.png" alt="twitter_icon"/></a>
                </div>
            </div>
        </div>
    </section>

    <hr class="p-3">
    <h1 class="text-center"><strong>Feedback ricevuti</strong></h1>
    <section id="section-show-commenti" class="mb-5" data-aos="zoom-in-down" data-aos-delay="700" data-aos-duration="2000">
        <div class="container-fluid">
            <div id="put_comment" class="row justify-content-center">

            </div>
        </div>

    </section>

    <section id="section-commenti" class="w-75 container p-5 rounded-lg shadow-lg"
             data-aos="zoom-in-down" data-aos-delay="800" data-aos-duration="2000">
        <!-- display the possibility of comment -->
        <div class="container rounded-lg animated fadeInDown">
            <div id="alert" class="alert text-center animated fadeInDown" role="alert"></div>
        </div>
        <form id="form_comments" class="text-center" method="post">
            <div class="form-group shadow-sm">
                <input id="input_commento" type="text" name="input_commento" maxlength="100"
                       class="form-control text-center" placeholder="Pubblica la tua opinione"/>
            </div>
            <p><small>Massimo numero di caratteri: 100</small></p>
            <p><small>E' consentito un solo commento.</small></p>
            <div class="container-fluid">
                <input id="btn_insert_commento" type="button" class="btn btn-primary" value="Pubblica"/>
            </div>
        </form>

        <!-- display the comment already inserted -->
        <form id="form_comments_after" class="text-center justify-content-center" method="post">
            <h2>Il tuo commento </h2>
            <div class="form-group row h-auto">
                <input id="text_comment_after" type="text" name="text_comment_after" maxlength="100" class="form-control text-center">
            </div>
            <div class="container-fluid justify-content-center">
                <input id="btn_remove_commento" type="button" class="btn btn-primary col-md-5 m-3" value="Rimuovi"/>
                <input id="btn_update_commento" type="button" class="btn btn-primary col-md-5 m-3" value="Aggiorna"/>
            </div>
        </form>
    </section>
</div>
