
        <link rel="stylesheet" type="text/css" href="../style/super_user_page.css"/>
        <script src="../js/super_user_page.js"></script>
    </head>

    <body class="bg justify-content-center text-center">
            <header>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col d-inline-flex p-3 justify-content-center">
                            <nav id="navigation" class="navbar clear navbar-expand-sm bg-light my-2 navbar-light rounded-lg shadow-lg">
                                <a href="/home_page.php"><img class="mr-2" src="../img/icon.png" alt="logo" height="42" width="42"></a>
                                <ul class="navbar-nav">
                                    <div class="vertical_divider"></div>
                                    <li>
                                      <a id="btn_lavori_correnti" class="nav-link" href="#">Visualizza lavori correnti</a>
                                    </li>
                                    <li>
                                      <a id="btn_modifica_lavoro" class="nav-link" href="#">Inserisci lavoro</a>
                                    </li>
                                    <li>
                                      <a id="btn_gestisci_utenti" class="nav-link" href="#">Gestisci utenti</a>
                                    </li>
                                </ul>
                            </nav>
                            <form action="../user/logout.php" method="post" class="animated fadeInDown delay-1s">
                                <button id="btn_logout" type="submit" value="log_out" class="btn btn-primary m-3 position-fixed">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container rounded-lg animated fadeInUp">
                <div id="alert" class="alert text-center animated fadeInDown" role="alert"></div>
            </div>

            <section id="section_visualizza_lavori" class="rounded-lg shadow-lg text-center justify-content-center animated fadeInUp">
                <!--
                <section id="section_search" class="container w-50">
                    <form id="search_form" method="post">
                        <div class="form-group">
                            <div class="row justify-content-center m-3">
                                <div class="col">
                                    <input name="input_search" id="input_search" type="text" class="form-control" placeholder="Cerca per indirizzo"></input>
                                </div>
                                <div class="col-md-2">
                                    <button id="btn_search_works" type="button" class="btn btn-secondary rounded-lg shadow-lg">Cerca</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
                -->
                <button id="btn_confirm_delete_works" class="btn btn-danger mb-3">
                    Elimina i selezionati
                </button>
                <div class="container-fluid">
                    <div class="row container-fluid">
                        <h4 class="col text-justify text-center"> #Campo </h4>
                        <h4 class="col text-justify text-center">  Indirizzo campo </h4>
                        <h4 class="col text-justify text-center"> #Lavoratori </h4>
                    </div>
                    <hr>
                    <div id="works_start">

                    </div>
                </div>
            </section>

            <section id="section_modifica_lavori" class="text-center justify-content-center animated fadeInUp">
                <div class="my-5 container-fluid">
                    <div class="row">
                        <div class="col-md-5 container p-3 border rounded-lg shadow-lg text-center">
                                <h2>Inserimento lavoro</h2>
                                <form id="my_form" method="post">
                                    <div class="form-group shadow-sm w-25 mx-auto mb-0">
                                        <input id="num_campo" type="text" name="num_campo" class="form-control" placeholder="#Campo" autofocus required>
                                    </div>
                                    <p><small> Deve essere un numero. </small></p>
                                    <div class="form-group shadow-sm w-50 mx-auto">
                                        <input id="indirizzo_campo" type="text" name="indirizzo_campo" class="form-control" placeholder="Indirizzo campo" autofocus required>
                                    </div>
                                    <div class="form-group shadow-sm mb-0 w-50 mx-auto">
                                        <input id="num_lavoratori" type="number" name="num_lavoratori" class="form-control" placeholder="Numero lavoratori" autofocus required>
                                    </div>
                                    <p><small> Deve essere un numero. </small></p>
                                    <div class="container-fluid">
                                        <input type="button" id="btn_insert_lavoro" class="btn btn-primary"
                                               value="Inserisci"/>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>

            </section>

            <section id="section_gestisci_utenti" class="text-center justify-content-center animated fadeInUp">
                <div class="container p-4 rounded-lg shadow-lg">
                    <button id="btn_confirm_delete_user" class="btn btn-danger mb-3">
                        Elimina i selezionati
                    </button>
                    <div class="container">
                        <div class="row">
                            <h4 class="col text-justify text-center"> Nome utente </h4>
                            <h4 class="col text-justify text-center"> Super user </h4>
                        </div>
                        <hr>
                        <div id="users_start" class="container justify-content-center">

                        </div>
                    </div>
                </div>
            </section>
