    <link rel="stylesheet" type="text/css" href="../style/vetrina.css"/>
    <script src="../js/vetrina.js"></script>
</head>

<body class="bg">
    <header class="animated fadeInDown delay-1s">
        <div class="container-fluid">
            <div class="row p-3">
                <form class="col-2">
                </form>
                <div class="col-8 d-inline-flex justify-content-center">
                    <nav id="navigation" class="navbar clear navbar-expand-sm bg-light my-2 navbar-light rounded-lg shadow-lg">
                        <a href="/home_page.php"><img class="mr-2" src="../img/icon.png" alt="logo" height="42" width="42"></a>
                        <ul class="navbar-nav">
                            <div class="vertical_divider"></div>
                            <li>
                              <a id="btn_visualizza_articoli" class="nav-link" href="#">Visualizza articoli</a>
                            </li>
                            <li>
                              <a id="btn_inserisci_articolo" class="nav-link" href="#">Inserisci articoli</a>
                            </li>
                        </ul>
                    </nav>
                    <form action="../user/logout.php" method="post">
                        <button id="btn_logout" type="submit" value="log_out" class="btn btn-primary m-3 position-fixed">Logout</button>
                    </form>
                </div>
                <div class="col-2 justify-content-center">
                    <form>
                        <input id="btn_show_wish_list" value="Wish list" type="button" class="m-3 btn btn-secondary"/>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div id="container_alert" class="position-relative justify-content-center rounded-lg animated fadeInUp">
        <div class="container w-25 rounded-lg animated fadeInDown">
            <div id="alert" class="alert text-center animated fadeInDown" role="alert"></div>
        </div>
    </div>

    <section id="section_visualizza_articoli" class="container-fluid h-100 animated fadeInUp delay-1s">
            <div id="article" class="row h-auto justify-content-center">
            </div>

    </section>

    <section id="section_wish_list" class="container-fluid h-100 animated fadeInUp">
            <h1 class="text-center"> I tuoi articoli salvati </h1>

            <div id="article_wish_list" class="row h-auto justify-content-center">
                
            </div>
    </section>


    <section id="section_inserisci_articoli" class="animated fadeInUp">
        lol
    </section>
